@import "sass/_includes";

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 1rem;
  background-color: $gray-light;

  &-logo {
    width: 20px;
    height: 20px;
    display: flex;
  }
  &-title {
    color: $gray;
  }
}
