.home {
  text-align: center;
}

.feature-table {
  th {
    cursor: pointer;
    padding-bottom: 5px;

    &.up {
      &::after {
        content: "\2191";
      }
    }
    &.down {
      &::after {
        content: "\2193";
      }
    }
  }

  td {
    padding-bottom: 2px;

    &.title {
      text-align: left;
    }
  }
}
